extends layout

block content
  header
      div.content
        h1.title.text-center= title
        h2.subtitle.text-center= subtitle
  div.container
      div.content.search
        form(action='index-search', method='post', autocomplete='off')
          input(id='index-search', class='text-center', type='text', name='course', autofocus="autofocus", placeholder='search for a course...')
      div#search-results.content
  div.container
      div.content.menu.text-center
        p.menu.faculties ...or pick from one of these faculties
        ul.faculties
          - faculties.forEach(function(faculty) {
              a(href='faculty/' + faculty id=faculty class='faculty button bg-' + faculty.slice(0,3))
                li= faculty.toUpperCase()
          - })
        p.menu.scores ...or from one of these categories
        ul.scores
          - categories.forEach(function(category, i) {
              a(href='category/' + categoriesSlug[i] id=category class='button bg-orange')
                li= category.toUpperCase()
          - })

block script
    script(type='text/javascript', src='/js/searchController.js')
    script(type='text/javascript', src='/js/voteButton.js')
