doctype 5
html
  head
    if title
      title= title + ' - ' + 'Grade That Course'
    else
      title= 'Grade That Course'
    link(rel='stylesheet', href='/css/bs-btn.css')
    link(rel='stylesheet', href='/css/bs-form.css')
    link(rel='stylesheet', href='/css/bs-modal.css')
    link(rel='stylesheet', href='/css/style.min.css')
  body
    header
      .table.content.overflow
        .table-cell
          a(href='/' class='home-title')= 'Grade That Course'
        .text-right.table-cell
          if user
            p(class='user-greet')= 'Welcome, '
              a(href='/user/' + user.UUID )= user.email
              = '! '
            a(href='/logout' class='user button')= 'Logout'
          else
            form(action='/login')
              a(href='/login' data-toggle='modal' class='btn btn-default')= 'Login'
            form(action='/register')
              a(href='/register' data-toggle='modal' class='btn btn-default')= 'Register'
    .masthead
        .hero.content.text-center
          h1.title= 'Choose better classes, together.'
          h2.subtitle= 'bringing transparency to course reviews - ubc edition'
    .container
      block content
    footer
      include includes/footer

append script
  script(type='text/javascript' src='/js/userActions.js')
  script(type='text/javascript' src='/js/bs-modal.js')
