doctype 5
html
  head
    if title
      title= title + ' - ' + 'Grade That Course'
    else
      title= 'Grade That Course'
    link(rel='stylesheet', href='/css/style.min.css')
  body
    header
      .table.content.overflow
        .table-cell
          a(href='/' class='home-title')= 'Grade That Course'
        .text-right.table-cell
          if user
            p(class='user-greet')= 'Welcome, '
              a(href='/user/' + user.UUID )= user.email
              = '! '
            a(href='/logout' class='user button')= 'Logout'
          else
            a(href='/login' class='user button')= 'Login'
            a(href='/register' class='user button')= 'Register'
    .masthead
        .hero.content.text-center
          h1.title= 'Choose better classes, together.'
          h2.subtitle= 'bringing transparency to course reviews - ubc edition'
    .container
      block content
    footer
      include includes/footer
