- courses.forEach(function(course) {
    div.course
        ul.main-info
            li.course-code= course.code
            li.course-name= course.name
        p.course-description= course.description
        ul.meta
            li.course-subject.button.bg-dark-blue= 'Subject: '.toUpperCase() + course.subject.name + ' (' + course.subject.code + ')'
            li.course-credits.button.bg-dark-blue= 'Credits: '.toUpperCase() + course.credits
        ul(class='score', course=course.code)
            li(type='take', class='button bg-green')= 'take: 5'.toUpperCase()
            li(type='pass', class='button bg-green')= 'pass: 3'.toUpperCase()
            li(type='easy', class='button bg-green')= 'easy: 7'.toUpperCase()
            li(type='hard', class='button bg-green')= 'hard: 3'.toUpperCase()
            li(type='fun', class='button bg-green')= 'fun: 1'.toUpperCase()
            li(type='useful', class='button bg-green')= 'useful / interesting: 4'.toUpperCase()
            li(type='prof', class='button bg-green')= 'poor profs: 0'.toUpperCase()
            li(type='ta', class='button bg-green')= 'poor TAs: 0'.toUpperCase()
- })
