- courses.forEach(function(course) {
  div.course
    ul.main-info
      courseDetails = course.subject.code.toLowerCase() + '/' + course.number
      li.course-code
        a(href='/course/' + courseDetails class='details-link')= course.subject.code + course.number
      li.course-name
        a(href='/course/' + courseDetails class='details-link')= course.name
    p.course-description= course.description
    ul.meta
      a(href='/subject/' + course.subject.code.toLowerCase() class='subject button bg-dark-blue')= 'subject: '.toUpperCase() + course.subject.name + ' (' + course.subject.code + ')'
      if (course.credits)
        a(href='/credits/' + course.credits class='credits button bg-dark-blue')= 'credits: '.toUpperCase() + course.credits
      else
        a(href='/credits/' + course.credits class='credits button bg-dark-blue')= 'credits: '.toUpperCase() + 'n/a'
    ul(class='score' course=course.code)
      a(href='/vote/' + courseDetails + '/take' class='vote button bg-green')= 'take: '.toUpperCase()
        span(class='counter')= course.score.take
      a(href='/vote/' + courseDetails + '/pass' class='vote button bg-green')= 'pass: '.toUpperCase()
        span(class='counter')= course.score.pass
      a(href='/vote/' + courseDetails + '/easy' class='vote button bg-green')= 'easy: '.toUpperCase()
        span(class='counter')= course.score.easy
      a(href='/vote/' + courseDetails + '/hard' class='vote button bg-green')= 'hard: '.toUpperCase()
        span(class='counter')= course.score.hard
      a(href='/vote/' + courseDetails + '/fun' class='vote button bg-green')= 'fun: '.toUpperCase()
        span(class='counter')= course.score.fun
      a(href='/vote/' + courseDetails + '/useful' class='vote button bg-green')= 'useful / interesting: '.toUpperCase()
        span(class='counter')= course.score.useful
      a(href='/vote/' + courseDetails + '/prof' class='vote button bg-green')= 'good prof: '.toUpperCase()
        span(class='counter')= course.score.prof
      a(href='/vote/' + courseDetails + '/ta' class='vote button bg-green')= 'good TAs: '.toUpperCase()
        span(class='counter')= course.score.ta
- })
