- courses.forEach(function(course) {
    div.course
        ul.main-info
            li.course-code
                a(href='ubc/course/' + course.subject.code + '/' + course.number)= course.subject.code + course.number
            li.course-name
                a(href='ubc/course/' + course.subject.code + '/' + course.number)= course.name
        p.course-description= course.description
        ul.meta
            a(href='ubc/subject/' + course.subject.code)
                li(class='course-subject button bg-dark-blue')= 'Subject: '.toUpperCase() + course.subject.name + ' (' + course.subject.code + ')'
            a(href='ubc/credits/' + course.credits)
                li(class='course-credits button bg-dark-blue')= 'Credits: '.toUpperCase() + course.credits
        ul(class='score', course=course.code)
            li(type='take', class='vote button bg-green')= 'take: '.toUpperCase()
                span(class='counter')= course.take
            li(type='pass', class='vote button bg-green')= 'pass: '.toUpperCase()
                span(class='counter')= course.pass
            li(type='easy', class='vote button bg-green')= 'easy: '.toUpperCase()
                span(class='counter')= course.easy
            li(type='hard', class='vote button bg-green')= 'hard: '.toUpperCase()
                span(class='counter')= course.hard
            li(type='fun', class='vote button bg-green')= 'fun: '.toUpperCase()
                span(class='counter')= course.fun
            li(type='useful', class='vote button bg-green')= 'useful / interesting: '.toUpperCase()
                span(class='counter')= course.useful
            li(type='prof', class='vote button bg-green')= 'poor profs: '.toUpperCase()
                span(class='counter')= course.prof
            li(type='ta', class='vote button bg-green')= 'poor TAs: '.toUpperCase()
                span(class='counter')= course.ta
- })
